@import "../reset.css";
@import "../helpers";

.shbb.listblock {
  width: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  .listblock__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 93%;
  }

  .listblock__list {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    // style in php
    // grid-template-columns: repeat(4, 1fr);
    // gap: 0 2.45%;

    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0 !important;

    list-style: none;
  }

  .listblock__item {
    position: relative;
    width: 100%;
    height: 100%;

    list-style: none;

    svg rect {
      transition: all 300ms ease-in-out;
    }
  }

  .listblock__item_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .listblock__link {
    position: absolute;
    top: 160px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 27%;
    padding: 10px;

    font-family: "Arial Black", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    background-color: #1D1E1C;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    -ms-word-break: break-all;
    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    overflow: hidden;

    &:hover {
      background-color: rgba(29, 30, 28, 0.95);
      color: #AC9E93;
      text-decoration: none;
    }

    @include bp(1280px) {
      font-size: 12px;
      padding: 8px;
    }

    @include bp($point_4) {
      font-size: 9px;
      padding: 8px;
    }
  }


}



// TODO: temp styles for hide sidebar and overwrite container
body.page-id-6297 {
  #main-content {
    padding: 0 16px;
  }

  .container {
    max-width: 1400px;
    width: 100%;

    &:before {
      display:none;
    }
  }

  #left-area {
    padding-right: 0;
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}



