@import "../reset.css";
@import "../helpers";

body {
  overflow-x: hidden;
}

.shbb_hero.hero {
  padding: 100px 0 100px;

  .wrapper {
    max-width: $wrapper;
    width: 100%;
    margin: 0 auto;
  }


  .hero__row {
    display: flex;

    @include bp($point_2) {
      flex-direction: column;
    }
  }


  /* Left Block */

  .hero__col:nth-child(1) {
    display: flex;
    flex-direction: column;

    @include bp($point_2 + 1, min) {
      //width: calc(100% - (816 * 100% / 1400));
      width: calc(100% - ($right_block * 100% / $wrapper));
      padding-right: 20px;
    }

    @include bp($point_2) {
      width: 100%;
      order: 1;
    }
  }

  .hero__heading {
    margin: auto 0;

    @include bp($point_2) {
      width: 100%;
      margin: 0 0 30px 0;
    }
  }

  .hero_title {
    margin: 0 0 10px 0;

    font-family: Gotham, Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    color: #1D1E1C;
    line-height: 1.2em;
    text-align: left;

    span {
      word-break: keep-all;
      white-space: nowrap;
    }

    .accent {
      color: #ad9e92;
    }

    @include bp($point_01 + 1, min) {
      font-size: 64px;
    }

    @include bp($point_01) {
      font-size: 54px;
    }

    @include bp($point_0) {
      font-size: 44px;
    }

    @include bp(1100px) {
      font-size: 40px;
    }

    @include bp($point_2) {
      font-size: 32px;
    }
  }

  .hero_subtitle {
    font-family: Corbel, Helvetica, Arial, Lucida, sans-serif;
    font-size: 24px;
    color: #1D1E1C;
    line-height: 1.2em;
    text-align: left;
  }

  .hero__brands_w {
    margin-right: -20px;

    @include bp($point_2) {
      overflow-y: hidden;
      overflow-x: auto;
      margin: 0 -16px;
    }
  }

  .hero__brands {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    list-style: none !important;
    margin: 0 0 -10px 0;
    padding: 0 !important;

    @include bp($point_2) {
      flex-wrap: nowrap;
    }
  }

  .hero__brand {
    margin: 0 20px 10px 0;
  }

  .hero__brand_img_w {
    width: 97px;
    height: 66px;

    @include bp($point_0) {
      width: 64px;
      height: 43px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  /* Right Block */

  .hero__col:nth-child(2) {
    //width: 816px;
    width: calc($right_block * 100% / $wrapper);

    @include bp($point_2) {
      width: unset;
      margin: 0 -16px 30px;
    }

  }

  .hero__svg_wrap {
    position: relative;

    @include bp($point_2 + 1, min) {
      max-width: 816px;
      width: 100%;
    }

    @include bp($point_2) {
      max-width: 980px;
      width: 100%;
      padding-bottom: 93%;
    }

    .svg_anim_block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      circle, rect {
        opacity: 0;
        transition: all 400ms ease-in-out;
      }
    }
  }

  .hero__anim_block_list_links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .hero__anim_block_item_link {
    position: absolute;
    list-style: none;
    overflow: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;
  }

  .hero__anim_block_link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 14px;

    font-family: "Arial Black", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    color: #ffffff;
    background-color: #1D1E1C;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    -ms-word-break: break-all;
    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    &:hover {
      background-color: rgba(29, 30, 28, 0.95);
      color: #AC9E93;
      text-decoration: none;
    }

    @include bp(1280px) {
      font-size: 12px;
      padding: 8px;
    }

    @include bp($point_4) {
      font-size: 9px;
      padding: 8px;
    }
  }
}

// TODO: temp styles for hide sidebar and overwrite container
body.page-id-6297 {
  #main-content {
    padding: 0 16px;
  }

  .container {
    max-width: 1400px;
    width: 100%;

    &:before {
      display:none;
    }
  }

  #left-area {
    padding-right: 0;
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}



